---
---

@import "reset.scss";

body {
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
}

.header {
	background-color: rgb(94, 219, 163);
	padding: 1rem 2rem;
	color: white;
}
.header__title {
	font-size: 2rem;
}

.menu .active a {
	text-decoration: none;
}

.container {

}

.main {
	padding: 1rem 2rem;
}
.nav {
	width: 300px;
	position: fixed;
	right: 0;
	height: 100vh;
	background-color: rgb(230, 230, 230);
	padding: 1rem 2rem;
	overflow-x: scroll;
}

.nav + .page {
	padding-right: 300px;
}

.menu {

	margin-left: 0;
	padding: 0;
	list-style-type: none;

	li {
		padding: 0.2rem 0;
	}

	a {
		color: black;
		text-decoration: none;
	}

	.active a {
		text-decoration: underline;
	}
}

.menu-context {

	margin-left: 0;
	padding: 0;
	list-style-type: none;

	li {
		padding: 0.2rem 0;
	}

	a {
		color: rgb(31, 120, 255);
		text-decoration: underline;
	}
}

.margin-vert {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;
}
