---
---
:root {
	--color-brand: rgb( 0, 228, 188 );
	--color-brand-2: rgb( 0, 225, 246 );
	--color-white: rgb( 255, 255, 255 );
}

@import "colors.scss";
@import "reset.scss";
@import "font.scss";
@import "typo.scss";
@import "global_margins.scss";
@import "code.scss";
@import "messageinline.scss";
@import "messageblock.scss";
@import "container.scss";
@import "header.scss";
@import "footer.scss";
@import "nav.scss";
@import "main.scss";
@import "menu_main.scss";
@import "menu_topic.scss";
@import "typo_headlines.scss";
@import "table.scss";
@import "sample_table.scss";
@import "parameters.scss";
@import "module_code_example.scss";
@import "page_title.scss";
