---
title: Add Filter
layout: methode
script: core
slug: add_filter
version: 1
---

{% include codeblock/template.html
lang="JS"
style="js"
code="ACFTableField.core.add_filter( scope, filterslug, handler );"
%}

{% capture code %}
t.init = function( p ) {

	ACFTableField.core.add_filter( 'main', 'data_defaults', t.add_default_data );
};

t.add_default_data = function( default_data ) {

	// add your default data
	default_data.p.o.myoption = 'default data';

	return default_data;
}
{% endcapture code %}

{% include module_code_example/template.html
code=code
%}
