{% if site[ 'methodes' ] %}

	{% assign sorted = site[ 'methodes' ] | sort: 'order' %}
	{% assign grouped = sorted | group_by: 'slug' %}

	{% assign group = false %}

	{% for item in grouped %}

		{% assign index = item.items | size %}
		{% assign index = index | minus:1 %}

		{% assign path = item.items[index].url | remove_first: "/" | split: '/' %}
		{% assign subfolder = path[1] %}

		{% if subfolder == block.search.module %}

			{% if group == false %}
				{% assign group = true %}

				{{ "## Methodes" | markdownify }}

				<ul class="menu_topic margin-vert">
			{% endif %}

			<li {% if item.items[index].url == page.url%}class="active"{% endif %}>
				<a href="{{ item.items[index].url | absolute_url }}" >{{ item.items[index].slug }}</a>
			</li>

		{% endif %}

	{% endfor %}

	{% if group %}
		</ul>
	{% endif %}

{% endif %}
