<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{{ page.title }} | {{site.title}}</title>
	<link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">


	<link rel="stylesheet" href="{{ "/modules/prism/prism.min.css" | absolute_url }}">
	<script src="{{ "/modules/prism/prism.min.js" | absolute_url }}"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/0475c3e7d5.js"></script>
	<script src="{{ "/modules/pre/script.js" | absolute_url }}"></script>

</head>
<body>

	<div class="container">

		<nav class="nav">
			<ul class="menu">
				{% assign sorted_pages = (site.pages | sort: 'order') %}
				{% for item in sorted_pages %}
					{% if item.title %}
						<li {% if item.url == page.url or page.collection == item.menu %}class="active"{% endif %}><a href="{{ item.url, | absolute_url }}" >{{ item.title }}</a></li>
					{% endif %}
				{% endfor %}

				{% assign sorted_topics = (site.topics | sort: 'title') %}
				{% for item in sorted_topics %}
					{% if item.title %}
					{{page.collection | jsonify}}
					{{item.topic | jsonify}}
						<li {% if page.collection == item.topic %}class="active"{% endif %}><a href="{{ item.url, | absolute_url }}" >{{ item.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>

		<div class="page">

			<header class="header"><p class="header__title">{{site.title}} Documentation<p></header>

			<main class="main">
