{% if include.parameters != nil %}

<ul class="parameters">
{% for parameter in include.parameters %}

		{% if include.lang == "js" %}
			<li><strong>{{ parameter.name }}</strong>
		{% endif %}

		{% if include.lang == nil %}
			<li><strong>${{ parameter.name }}</strong>
		{% endif %}

			<ul>

				{% if parameter.optional %}
					<li><span class="parameters-label">Optional:</span> yes</li>
				{% endif %}

				{% if parameter.type %}
					<li><span class="parameters-label">Type:</span> {{ parameter.type }}</li>
				{% endif %}

				{% if parameter.default %}
					<li><span class="parameters-label">Default:</span> {{ parameter.default }}</li>
				{% endif %}

				{% if parameter.options %}
					<li><span class="parameters-label">Options:</span> {{ parameter.options | join: ', ' }}</li>
				{% endif %}

				{% if parameter.message %}
					<li>
						{% include messageinline/template.html
							type=parameter.message.type
							text=parameter.message.message
						%}
					</li>
				{% endif %}

				{% if parameter.description %}
					<li><span class="parameters-label">Description:</span> {{ parameter.description | markdownify }}</li>
				{% endif %}

				{% if parameter.code %}
					<li>

						{% include codeblock/template.html
							lang="JS"
							style="js"
							code=parameter.code
						%}

					</li>
				{% endif %}

			</ul>
		</li>

{% endfor %}
</ul>

{% endif %}
