pre {
	margin-top: $margin-vert;
	margin-bottom: $margin-vert;
	background-color: transparentize( $color-blue-dark, 0.95 ) !important;
	border: 1px solid transparentize( $color-blue-dark, 0.8 ) !important;

	&::selection {

		text-shadow: none;
		background: #b3d4fc;
	}

	&[type]:before {
		content: attr( type );
		display: block;
		margin-top: -1em;
		margin-left: -1em;
		margin-right: -1em;
		margin-bottom: 1em;
		background-color: transparentize( $color-blue-dark, 0.8 );
		//border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
		color: rgba( 255, 255, 255, 0.9 );
		padding: 0.2rem 1rem;
	}
}

code {
	font-size: 1rem;
}

.code-block {

	margin-top: $margin-vert;
	margin-bottom: $margin-vert;

	pre {
		margin-top: -1px !important;
		margin-bottom: 0 !important;
	}

	.pre-title {
		display: block;
		border: #e1e1e8 solid 1px;
		margin: 0;
		padding: 14px 20px;
		position: relative;
		font-size: 0.8rem;

		.fa {
			width: 31px;
			height: 31px;
			line-height: 31px;
			font-size: 14px;
			text-align: center;
			background: #F7F7F9;
			border-radius: 100%;
			position: absolute;
			top: 5px;
			right: 5px;
			cursor: pointer;
			color: #708090;
			display: none;
		}
	}

	// show close btn on hover if code is not closed
	&:hover .pre-title:not(.closed) .fa-angle-up {
		display: block;
	}

	.pre-title.closed {

		.fa-angle-down {
			display: block;
		}

		+ pre {

			display: none;
		}
	}
}

.highlighter-rouge {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	background-color: #f7f7f9 !important;
	border: 1px solid #e1e1e8 !important;
	padding: 4px 4px;
	color: #666;
}
