$color-black: rgb(0, 0, 0);
$color-grey-light: rgb(230, 230, 230);
$color-grey-medium: rgb(130, 130, 130);
$color-blue: rgb(31, 120, 255);
$color-white: rgb(255, 255, 255);
$color-green: rgb(18, 207, 150);

$color-blue-dark: #52606d;
