.nav {
	width: 300px;
	position: fixed;
	right: 0;
	height: 100vh;
	background-color: transparentize( $color-grey-light, 0.8 );
	border-left: 1px solid $color-grey-light;
	padding: 1rem 2rem;
	overflow-x: scroll;
}

.nav + .page {
	width: calc( 100% - 300px );
}
