.sample_table {

	margin-top: $margin-vert;
	margin-bottom: $margin-vert;
	border-collapse: collapse;

	border: 1px solid $color-blue-dark;

	th, td {
		padding: 6px 12px;
		border: 1px solid $color-blue-dark;
		font-size: 0.9rem;
	}

	th {
		background-color: transparentize( $color-blue-dark, 0.8 );
	}
}
