h1 {
	color: $color-black;
	font-weight: normal;
	margin-top: $margin-vert;
	margin-bottom: $margin-vert;
}
h2, h3, h4 {
	color: $color-black;
	font-weight: bold;
	margin-top: $margin-vert * 2.6;
	margin-bottom: $margin-vert;
}


h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.4rem;
}
h3 {
	font-size: 1.2rem;
}
h4 {
	font-size: 1rem;
}
