{% assign collection = page.topic %}

{% if include.topic != nil %}

	{% capture collection %}{{ include.topic }}{% endcapture %}

{% endif %}

{% if site[ collection ] %}

	{% assign sorted = site[ collection ] | sort_natural: 'group' %}
	{% assign grouped = sorted | group_by: 'slug' %}

	{% assign group = false %}

<ul class="menu_topic margin-vert">

	{% for item in grouped %}

		{% assign index = item.items | size %}
		{% assign index = index | minus:1 %}

		{% assign path = item.items[index].url | remove_first: "/" | split: '/' %}

		{% assign subfolder = path[1] | replace: "%20", " " %}

		{% if item.items[index].group_title != nil %}
			{% assign subfolder = item.items[index].group_title | replace: "%20", " " %}
		{% endif %}

		{% if path[2] != "_kickstart" %}

			{% if group != subfolder %}

				{% if group %}
						</ul>
					</li>
				{% endif %}

				<li>{{subfolder}}
					<ul>

				{% capture group %}{{subfolder}}{% endcapture %}

			{% endif %}


			<li {% if item.items[index].url == page.url%}class="active"{% endif %}>

				{% comment %}
					In general, the slug will be used as the menu item name.
					But because there cant be two eqal slugs, you can also set
					a menu name as option.
				{% endcomment %}

				{% assign menu_name = item.items[index].slug | replace: "%20", " " %}

				{% if item.items[index].menu_name %}
					{% assign menu_name = item.items[index].menu_name %}
				{% endif %}

				{% if item.items[index].slug_title != nil %}
					{% assign menu_name = item.items[index].slug_title | replace: "%20", " " %}
				{% endif %}

				{% assign lang = '' %}
				{% assign pre = '' %}

				{% if item.items[index].lang %}
					{% capture lang %}<span>({{item.items[index].lang | upcase}})</span>{% endcapture %}
					{% capture pre %}acf_tablefield{% endcapture %}
				{% endif %}

				<a href="{{ item.items[index].url | absolute_url }}" >{{ pre }}{{ menu_name }}</a>{{ lang }}
			</li>
		{% endif %}

	{% endfor %}

		</ul>
	</li>
</ul>
{% endif %}
