{% assign collection = page.topic %}

{% if include.topic != nil %}

	{% capture collection %}{{ include.topic }}{% endcapture %}

{% endif %}

{% if site[ collection ] %}

	{% assign sorted = site[ collection ] | sort: 'version' %}
	{% assign grouped = sorted | group_by: 'slug' %}

	{% assign group = false %}

<ul class="menu_topic margin-vert">

	{% for item in grouped %}


		{% assign index = item.items | size %}
		{% assign index = index | minus:1 %}

		{% assign path = item.items[index].url | remove_first: "/" | split: '/' %}
		{% assign subfolder = path[1] %}

		{% if group != subfolder %}

			{% if group %}
				</ul>
			{% endif %}

			<li>{{subfolder}}
				<ul>

			{% capture group %}{{subfolder}}{% endcapture %}

		{% endif %}

		<li {% if item.items[index].url == page.url%}class="active"{% endif %}>
			<a href="{{ item.items[index].url | absolute_url }}" >{{ item.items[index].slug }}</a>
		</li>

	{% endfor %}

</ul>
	</li>


{% endif %}
