h1 {
	color: $color-black;
	font-weight: normal;
	margin-top: $margin-vert;
	margin-bottom: $margin-vert;
	line-height: 1.2;
}
h2, h3, h4 {
	color: $color-black;
	font-weight: bold;
	margin-top: $margin-vert * 2.6;
	margin-bottom: $margin-vert;
	line-height: 1.2;
}


h1 {
	font-size: 1.8rem;
}
h2 {
	margin-top: $margin-vert * 6.6;
	font-size: 1.6rem;
	font-weight: normal;
	color: darken( $color-green, 10 );
}
h3 {
	font-size: 1.2rem;
}
h4 {
	font-size: 1rem;
}
