{% if include.module_name == nil %}
	{% assign module_name = 'MyModule' %}
{% endif %}

{% if include.module_name != nil %}
	{% assign module_name = include.module_name %}
{% endif %}

{% assign code = '' %}

{% capture code %}
jQuery.noConflict();
jQuery( document ).ready( function( $ ) {

	function ACFTableField{{ module_name }}() {

		var t = this;

		{{ include.code | indent_tab: 2 | strip }}

	};

	ACFTableFieldPro.{{ module_name | downcase }} = new ACFTableField{{ module_name }}();

});
{% endcapture %}

{% capture code %}{{ code | strip }}{% endcapture %}

{% include codeblock/template.html
	title=include.title
	lang="JS"
	style="js"
	code=code
%}
