
{% for block in include.contentblocks %}

	{% if block.blocktype == "html" %}

		{% include contentblocks/blocks/html/template.html %}

	{% endif %}

	{% if block.blocktype == "codeblock_module_example" %}

		{% include contentblocks/blocks/codeblock_module_example/template.html %}

	{% endif %}

	{% if block.blocktype == "codeblock" %}

		{% include contentblocks/blocks/codeblock/template.html %}

	{% endif %}

	{% if block.blocktype == "parameters" %}

		{% include contentblocks/blocks/parameters/template.html %}

	{% endif %}

	{% if block.blocktype == "filter" %}

		{% include contentblocks/blocks/filter/template.html %}

	{% endif %}

	{% if block.blocktype == "filter_list" %}

		{% include contentblocks/blocks/filter_list/template.html %}

	{% endif %}

	{% if block.blocktype == "methode" %}

		{% include contentblocks/blocks/methode/template.html %}

	{% endif %}

	{% if block.blocktype == "methode_list" %}

		{% include contentblocks/blocks/methode_list/template.html %}

	{% endif %}

	{% if block.blocktype == "page_content" %}

		{% include contentblocks/blocks/page_content/template.html %}

	{% endif %}

	{% if block.blocktype == "heading" %}

		{% include contentblocks/blocks/heading/template.html %}

	{% endif %}

	{% if block.blocktype == "messageblock" %}

		{% include contentblocks/blocks/messageblock/template.html %}

	{% endif %}

	{% if block.blocktype == "menu_topic" %}

		{% include menu_topic/template.html %}

	{% endif %}

	{% if block.blocktype == "table" %}

		{% include contentblocks/blocks/table/template.html %}

	{% endif %}

{% endfor %}
