
{% for block in include.contentblocks %}

	{% if block.blocktype == "html" %}

		{% include contentblocks/blocks/html.html %}

	{% endif %}

	{% if block.blocktype == "codeblock_module_example" %}

		{% include contentblocks/blocks/codeblock_module_example.html %}

	{% endif %}

	{% if block.blocktype == "codeblock" %}

		{% include contentblocks/blocks/codeblock.html %}

	{% endif %}

	{% if block.blocktype == "parameters" %}

		{% include contentblocks/blocks/parameters.html %}

	{% endif %}

	{% if block.blocktype == "filter" %}

		{% include contentblocks/blocks/filter.html %}

	{% endif %}

	{% if block.blocktype == "filter_list" %}

		{% include contentblocks/blocks/filter_list.html %}

	{% endif %}

	{% if block.blocktype == "page_content" %}

		{% include contentblocks/blocks/page_content.html %}

	{% endif %}

	{% if block.blocktype == "heading" %}

		{% include contentblocks/blocks/heading.html %}

	{% endif %}

	{% if block.blocktype == "messageblock" %}

		{% include contentblocks/blocks/messageblock.html %}

	{% endif %}

	{% if block.blocktype == "menu_topic" %}

		{% include menu_topic/template.html %}

	{% endif %}

	{% if block.blocktype == "table" %}

		{% include contentblocks/blocks/table.html %}

	{% endif %}

{% endfor %}
