{% assign title = page.title %}

{% if page.collection == "modules" %}

	{% capture title %}
		<span class="cat">Module</span> <span class="prefix">ACFTableFieldPro.</span><span class="focus">{{page.slug}}</span>
	{% endcapture %}

{% endif %}

{% if page.collection == "methodes" %}

	{% capture title %}
		<span class="cat">Methode</span> <span class="prefix">ACFTableFieldPro.{{page.group}}.</span><span class="focus">{{page.slug}}()</span>
	{% endcapture %}

{% endif %}

{% if page.collection == "filters" %}

	{% capture title %}
		<span class="cat">Filter</span> <span class="prefix">{{page.group}}:</span><span class="focus">{{page.slug}}</span>
	{% endcapture %}

{% endif %}

{% if page.collection == "actions" %}

	{% capture title %}
		<span class="cat">Action</span> <span class="prefix">{{page.group}}:</span><span class="focus">{{page.slug}}</span>
	{% endcapture %}

{% endif %}

<h1 id="page_title">{{title}}</h1>
