.parameters {

	list-style-type: none;

	> li > strong {
		font-weight: normal;
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	}

	ul {
		list-style-type: none;
		margin-bottom: 0.8rem;
		padding-left: 1rem;
		opacity: 0.6;
	}

	.parameters-label {
		color: grey;
		font-size: 0.8em;
	}

	li .code-block {
		margin: 0;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block;
	}
}
