<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{{ page.title }} | {{site.title}}</title>
	<link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">

	<link rel="stylesheet" href="{{ "/modules/prism/prism.min.css" | absolute_url }}">
	<script src="{{ "/modules/prism/prism.min.js" | absolute_url }}"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="{{ "/modules/pre/script.js" | absolute_url }}"></script>

</head>
<body>

	<div class="container">

		<nav class="nav">
			{% include menu_main/template.html %}
			{% include menu_headings/template.html %}
		</nav>

		<div class="page">

			<header class="header"><p class="header__title">{{site.title}}<p></header>

			<main class="main">
