.menu_main {

	//margin-left: 0;
	//padding: 0;
	list-style-type: disc;

	li {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}

	a {
		text-decoration: none;
		font-size: 1rem;
	}

	.active a {
		text-decoration: underline;
	}
}
