.footer {

	margin-top: $margin-vert;
	margin-bottom: $margin-vert;
	padding-top: $margin-vert;
	padding-bottom: $margin-vert;
	border-top: 1px solid $color-grey-light;
	text-align: center;
	color: $color-grey-medium;
	font-size: 0.8rem;
}
