.nav {

	@media (min-width: 600px) {
		height: 100vh;
		position: fixed;
		right: 0;
		width: 300px;
	}

	@media (min-width: 1400px) {
		right: 50%;
		margin-right: -700px;
	}
	background-color: transparentize( $color-grey-light, 0.8 );
	border-left: 1px solid $color-grey-light;
	padding: 1rem 2rem;
	overflow-x: scroll;

	ul {

	}

	li {
		padding-top: 0.15rem;
		padding-bottom: 0.15rem;
		line-height: 1.1;
		font-size: 0.9rem;
	}

	li a {
		font-size: inherit;
	}

	.menu_heading {
		list-style-type: none;
		margin-top: 0.4rem;
	}


}

.nav + .page {
	@media (min-width: 600px) {
		float: left;
		width: calc( 100% - 300px );
	}

}
